* {
	margin: 0;
}

html, body {
	height: 100%;
}

#container {
	min-height: 100%;
	margin: 0 auto -20px;
	position: relative;
}

#content {
	padding: 0px 25px 25px 25px;
	position: relative;
}

.error{
	color:red;	
}

footer {
	height: 20px;
	position: relative;
	border-top-style: solid;
	border-width: 1px;
	border-color: #006400;
	/* position: absolute; bottom: 0; width: 100%; height: 20px; border-top-style: solid; border-width: 1px; border-color: #8B0000; */
	text-align: center;
}

.clearfooter {
	height: 20px;
	clear: both;
}

/* ---------- ERIC MEYER'S RESET CSS ---------- */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0;
}

#map {
	width: auto;
	height: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#login {
	margin: 10px auto;
	width: 40%;
}

#login h2 {
	background-color: #006400;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 95px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset div {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset div:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"]
	{
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	margin: auto;
	width: 328px;
	border: 1px solid;
}

#login fieldset input[type="submit"] {
	background-color: black;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 30%;
}

#login fieldset input[type="submit"]:hover {
	background-color: #28ad63;
}

#login fieldset label {
	width: 35%;
	display:block;
}


#formu {
	margin: auto;
	width: 70%;
}

#formu h2 {
	background-color: #006400;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#formu h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#formu fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 0px 26px;
}

#formu fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#formu fieldset p:last-child {
	margin-bottom: 0;
}

#formu fieldset div {
	color: #777;
	margin-bottom: 14px;
	margin-top:10px;
}

#formu fieldset div:last-child {
	margin-bottom: 0;
}

#formu fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#formu fieldset input[type="text"], #login fieldset input[type="password"]
	{
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
	border: 1px solid;
}

#formu fieldset input[type="submit"] {
	background-color: black;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100%;
}

#formu fieldset input[type="submit"]:hover {
	background-color: #28ad63;
}

#formu fieldset label {
	width: 35%;
	text-align: right;
}

#crearNueva {
	
}

.navbar {
	background: #000000;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-collapse.in {
	overflow-y: hidden;
}

.navbar-header .navbar-icon-container {
	margin-right: 15px;
}

.navbar-header .navbar-icon {
	line-height: 50px;
	height: 50px;
}

.navbar-header a.navbar-icon {
	margin-left: 25px;
}

.navbar-inverse .navbar-nav>li {
	border: none;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>form>a {
	color: #FFFFFF;
	font-weight: bold;
}

/* .navbar-inverse .navbar-nav>li>form>a {
	color: #FFFFFF;
	font-weight: bold;
} */
.navbar-inverse .navbar-nav > li > form > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav > li > form > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>li:hover>a:hover {
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
}

@media ( max-width : 992px) {
	.navbar .navbar-brand {
		font-size: 18px;
	}
}

@media ( max-width : 767px) {
	#sidebar {
		display: none;
	}
	.url-break {
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
	.dropdown-menu a i {
		color: #FFFFFF;
	}
	.navbar-inverse .navbar-nav>li {
		display: block;
		width: 100%;
	}
}
/* Print Handling */
@media print {
	.navbar {
		display: none !important;
	}
	.leaflet-control-container {
		display: none !important;
	}
}